* {

font-family:leelawadee;
word-spacing:0.06em;
box-sizing:border-box;
margin:0;
padding:0;
overflow:visible;

}

.title1 {

background-color:darkblue;
color:white;
height:100%;
width:80px;
max-width:80px;
position:fixed;
left:0px;
top:0px;
clear:both;

}

#title {

width:30px;
font-size:30px;
word-wrap:break-word;
text-align:center;
padding-top:180px;
padding-left:25px;

}

.html {

color:gainsboro;
border:dotted blue

}

.hyper {

padding:0px 0px 20px 10px;
position:relative;
left:95px;

}

.notes {

color:gray;
font-size:80%;
text-align:left;
position:relative;
left:95px;
padding-bottom:20px;
padding-left:10px;

}

.subtitle1 {

color:grey;
position:relative;
left:95px;
padding-left:10px;

}

.boilerplate {

text-align:left;
position:relative;
left:95px;
padding:10px;
line-height:2em;

}

.syntax {

color:darkblue;
line-height:2em;

}

.syntaxtable {

text-align:left;
position:relative;
left:95px;
padding:10px;

}


#subtitle2 {

color:gray;

}

#tables {

color:gray;

}

.table {

border-style:solid;
border-color:gray;
position:relative;
left:95px;
padding:10px;
line-height:2em;

}
