* {
text-align:center;
box-sizing:border-box;
margin:0;
padding:0;
border: 1px solid rgba(0, 0, 0, 0.3);
}


.links {
color:blue;
text-align:center;
}

h1 {
font-family:Georgia;
}

img {
max-width:20%;
max-height:20%;
border-radius:100%;
}

